<%= form_for @player, html: { class: 'form-row' } do |f| %>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <p>Name:</p>
      <%= f.text_field :name, class: 'form-control' %>
      <p>Catches:</p>
      <%= f.text_field :catches, class: 'form-control' %>
      <p>Position:</p>
      <%= f.text_field :position, class: 'form-control' %>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <p>Position Abreviation:</p>
      <%= f.text_field :pos_abr, class: 'form-control' %>
      <p>Number:</p>
      <%= f.text_field :number, class: 'form-control' %>
      <p>Games Played:</p>
      <%= f.text_field :games_played, class: 'form-control' %>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <p>Total Goals Against:</p>
      <%= f.text_field :goals_against, class: 'form-control' %>
      <p>Goals Against Average:</p>
      <%= f.text_field :gaa, class: 'form-control' %>
      <p>Total Shots on Goal:</p>
      <%= f.text_field :sog, class: 'form-control' %>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <p>Total Saves:</p>
      <%= f.text_field :saves, class: 'form-control' %>
      <p>Save Percentage:</p>
      <%= f.text_field :svs, class: 'form-control' %>
      <p>Shutouts:</p>
      <%= f.text_field :shutouts, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 update-button">
    <%= f.submit 'Update Player', class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
