<%= form_for @player, html: { class: 'form-row' } do |f| %>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <p>Games Played:</p>
      <%= f.text_field :games_played, class: 'form-control' %>
      <p>Points:</p>
      <%= f.text_field :points, class: 'form-control' %>
      <p>Game Winning Goals:</p>
      <%= f.text_field :gwg, class: 'form-control' %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <p>Goals:</p>
      <%= f.text_field :goals, class: 'form-control' %>
      <p>Penalty Minutes:</p>
      <%= f.text_field :pim, class: 'form-control' %>
      <p>Power Play Goals:</p>
      <%= f.text_field :ppg, class: 'form-control' %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <p>Assists:</p>
      <%= f.text_field :assists, class: 'form-control' %>
      <p>Plus Minus:</p>
      <%= f.text_field :plus_minus, class: 'form-control' %>
      <p>Short Handed Goals:</p>
      <%= f.text_field :shg, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 update-button">
    <%= f.submit 'Update Player', class: 'btn btn-primary btn-lg btn-block' %>
  </div>
<% end %>
