<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="row">
    <%= render 'schedules/partials/home/points' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/home/goals' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/home/assists' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/home/plus_minus' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/home/gaa' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/home/svs' %>
  </div>
</div>
