<div class="row">
  <img class="img-fluid mx-auto d-block" src="<%= @home.lg_logo %>" alt="<%= @home.team_name %>">
</div>
<div class="row">
  <%= render 'schedules/partials/home/points' %>
</div>
<div class="row">
  <%= render 'schedules/partials/home/goals' %>
</div>
<div class="row">
  <%= render 'schedules/partials/home/assists' %>
</div>
<div class="row">
  <%= render 'schedules/partials/home/plus_minus' %>
</div>
<div class="row">
  <%= render 'schedules/partials/home/gaa' %>
</div>
<div class="row">
  <%= render 'schedules/partials/home/svs' %>
</div>
