<div class="container-fluid">
  <div class="row">
    <div class="col-3 text-center">
      <%= render 'schedules/partials/home/home_team' %>
    </div>
    <div class="col-6 text-center">
      <%= render 'schedules/partials/game_info' %>
      <div class="row">
        <div class="col-6">
          <p class="text-muted float-left">Home Lineup</p>
          <%= render 'schedules/partials/home/home_lineup' %>
        </div>
        <div class="col-6">
          <p class="text-muted float-right">Away Lineup</p>
          <%= render 'schedules/partials/away/away_lineup' %>
        </div>
      </div>
    </div>
    <div class="col-3 text-center">
      <%= render 'schedules/partials/away/away_team' %>
    </div>
  </div>
</div>
