<div class="container-fluid">
  <table class="table">
    <thead class="table-inverse">
      <tr>
        <th class="text-center">Pos</th>
        <th></th>
        <th>Team</th>
        <% if logged_in? %>
          <th>Edit<th>
        <% end %>
        <th class="text-center">GP</th>
        <th class="text-center">W</th>
        <th class="text-center">L</th>
        <th class="text-center">OW</th>
        <th class="text-center">OL</th>
        <th class="text-center">P</th>
        <th class="text-center">GF</th>
        <th class="text-center">GA</th>
        <th class="text-center">GD</th>
      </tr>
    </thead>
    <tbody>
      <% @standings.each_with_index do |standing, i| %>
        <tr>
          <td class="align-middle text-center" width="6%"><%= i += 1 %></td>
          <td width="9%"><img src="<%= standing.team.sm_logo %>" class="img-fluid" alt="<%= standing.team.team_name %>"></td>
          <td class="align-middle" width="25%"><%= standing.team.team_name %></td>
          <% if logged_in? %>
            <td class="align-middle"><%= link_to 'Edit', edit_standing_path(standing) %><td>
          <% end %>
          <td class="align-middle text-center"><%= standing.games %></td>
          <td class="align-middle text-center"><%= standing.wins %></td>
          <td class="align-middle text-center"><%= standing.losses %></td>
          <td class="align-middle text-center"><%= standing.overtime_wins %></td>
          <td class="align-middle text-center"><%= standing.overtime_losses %></td>
          <td class="align-middle text-center"><%= standing.points %></td>
          <td class="align-middle text-center"><%= standing.goals_for %></td>
          <td class="align-middle text-center"><%= standing.goals_against %></td>
          <td class="align-middle text-center"><%= standing.goal_difference %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
