<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">
      <div class="row">
        <img class="img-fluid mx-auto d-block show-logos" src="<%= @home.lg_logo %>" alt="<%= @home.team_name %>">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
      <%= render 'schedules/partials/game_info' %>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">
      <div class="row">
        <img class="img-fluid mx-auto d-block show-logos" src="<%= @away.lg_logo %>" alt="<%= @away.team_name %>">
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <div class="row">
        <%= render 'schedules/partials/team_scoring' %>
        <%= render 'schedules/partials/team_stats' %>
      </div>
    </div>
  </div>
</div>
