<div class="card">
  <div class="card-block">
    <ul class="nav nav-pills nav-justified">
      <%= link_to 'All Games', root_path, class: 'nav-link nav-item' %></a>
      <%= link_to 'Swarm', swarm_schedules_path, class: 'nav-link nav-item' %></a>
      <%= link_to 'Red Devils', reddevils_schedules_path, class: 'nav-link nav-item' %>
      <%= link_to 'Thunder', thunder_schedules_path, class: 'nav-link nav-item' %>
      <%= link_to 'Stampede', stampede_schedules_path, class: 'nav-link nav-item' %>
      <%= link_to 'Admirals', admirals_schedules_path, class: 'nav-link nav-item' %>
    </ul>
  </div>
</div>
