<div class="container-fluid">
  <%= render 'players/partials/teams' %>
  <table id="players" class="table table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Player</th>
        <th>Team</th>
        <th>Position</th>
        <th class="text-center">Num</th>
      </tr>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr>
          <%= link_to player_path(player) do %>
            <td><%= player.name %></td>
            <td><%= player.team.team_name %></td>
            <td><%= player.position %></td>
            <td class="text-center"><%= player.number %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
