<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <img src="<%= @player.team.sm_logo %>" class="img-fluid" alt="<%= @player.team.team_name %>">
    </div>
    <div class="col">
      <h1 class="text-center">Edit Stats for <%= @player.name %></h1>
      <p class="text-center"><%= link_to 'Back to Players', players_path %></p>
    </div>
    <div class="col-2">
      <img src="<%= @player.team.sm_logo %>" class="img-fluid float-right" alt="<%= @player.team.team_name %>">
    </div>
  </div>
  <% if @player.pos_abr == 'GK' %>
    <%= render 'players/partials/edit/gk' %>
  <% else %>
    <%= render 'players/partials/edit/skater' %>
  <% end %>
</div>
