<div class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <strong>Offensive Team Season Stats</strong>
    </div>
    <div class="card-block">
      <div class="row">
        <table class="table-sm w-100">
          <thead class="table">
            <tr>
              <th class="text-center">GS</th>
              <th class="text-center">SOG</th>
              <th class="text-center">GS%</th>
              <th class="text-center">PP</th>
              <th class="text-center">PPG</th>
              <th class="text-center">PP%</th>
              <th class="text-center">SHG</th>
            </tr>
          </thead>
          <tbody>
            <tr class="align-middle text-center">
            <td><%= standing.goals_for %></td>
            <td><%= stat.sog %></td>
            <td><%= '%.2f' % goal_scoring_percent %>%</td>
            <td><%= stat.pp %></td>
            <td><%= stat.ppg %></td>
            <td><%= '%.2f' % pp_percent %>%</td>
            <td><%= stat.shg %></td>
        </table>
      </div>
    </div>
  </div>
</div>
