<div class="card-deck">
  <div class="card align-self-center">
    <div class="card-header text-center"><strong>Record</strong></div>
    <div class="card-block">
      <div class="row">
        <table class="table-sm w-100">
          <thead class="table">
            <tr>
              <th class="text-center">GP</th>
              <th class="text-center">W</th>
              <th class="text-center">L</th>
              <th class="text-center">P</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td class="align-middle text-center"><%= standing.games %></td>
            <td class="align-middle text-center"><%= standing.wins %></td>
            <td class="align-middle text-center"><%= standing.losses %></td>
            <td class="align-middle text-center"><%= standing.points %></td>
        </table>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      <%= link_to 'Standings', standings_path %>
    </div>
  </div>
</div>
