<div class="card-deck">
  <div class="card">
    <div class="card-header text-center">
      <strong><%= @away.team_name %> Defensive Team Stats</strong>
    </div>
    <div class="card-block">
      <div class="row">
        <table class="table-sm w-100">
          <thead class="table">
            <tr>
              <th class="text-center">GA</th>
              <th class="text-center">SOGA</th>
              <th class="text-center">GAA</th>
              <th class="text-center">SHGA</th>
              <th class="text-center">PIM</th>
              <th class="text-center">PK</th>
              <th class="text-center">PPGA</th>
              <th class="text-center">PK%</th>
            </tr>
          </thead>
          <tbody>
            <tr class="align-middle text-center">
            <td><%= @away.standing.goals_against %></td>
            <td><%= away_stat.sog_allowed %></td>
            <td><%= '%.2f' % away_gaa %></td>
            <td><%= away_stat.shg_allowed %></td>
            <td><%= away_stat.pim %></td>
            <td><%= away_stat.pk %></td>
            <td><%= away_stat.ppg_allowed %></td>
            <td><%= '%.2f' % away_pk_percentage %>%</td>
        </table>
      </div>
    </div>
  </div>
</div>
