<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="row">
    <%= render 'schedules/partials/away/points' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/away/goals' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/away/assists' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/away/plus_minus' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/away/gaa' %>
  </div>
  <div class="row">
    <%= render 'schedules/partials/away/svs' %>
  </div>
</div>
