<div class="row">
  <% @gk.each do |player| %>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <h5 class="card-title"><%= player.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Catches: <%= player.catches %></h6>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <h5 class="card-title float-right">#<%= player.number %></h5>
                <h6 class="card-subtitle mb-2 text-muted float-right"><%= player.position %></h6>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th class="text-center">GP</th>
                    <th class="text-center">SOG</th>
                    <th class="text-center">SVS</th>
                    <th class="text-center">GA</th>
                    <th class="text-center">SV%</th>
                    <th class="text-center">GAA</th>
                    <th class="text-center">SO</th>
                  </tr>
                </thead>
                <tbody>
                  <td class="text-center"><%= player.games_played %></td>
                  <td class="text-center"><%= player.sog %></td>
                  <td class="text-center"><%= player.saves %></td>
                  <td class="text-center"><%= player.goals_against %></td>
                  <td class="text-center">.<%= player.svs %></td>
                  <td class="text-center"><%= '%.2f' % player.gaa %></td>
                  <td class="text-center"><%= player.shutouts %></td>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer text-muted text-center">
            <% if logged_in? %>
              <span class="float-left"><%= link_to 'Player Card', player_path(player) %></span>
              <span class="float-right"><%= link_to 'Edit Player', edit_player_path(player) %></span>
            <% else %>
              <%= link_to 'Player Card', player_path(player) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
