<div class="row">
  <% @gk.each do |player| %>
    <div class="col-6">
      <div class="card-deck">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title"><%= player.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Catches: <%= player.catches %></h6>
              </div>
              <div class="col-2">
                <h5 class="card-title float-right">#<%= player.number %></h5>
                <h6 class="card-subtitle mb-2 text-muted float-right"><%= player.position %></h6>
              </div>
            </div>
          </div>
          <div class="card-block">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center col-xs-2">GP</th>
                    <th class="text-center col-xs-2">GAA</th>
                    <th class="text-center col-xs-2">SVS</th>
                  </tr>
                </thead>
                <tbody>
                  <td class="text-center col-xs-2"><%= player.games_played %></td>
                  <td class="text-center col-xs-2"><%= player.gaa %></td>
                  <td class="text-center col-xs-2">.<%= player.svs %></td>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer text-muted text-center">
            <% if logged_in? %>
              <span class="float-left"><%= link_to 'Player Card', player_path(player) %></span>
              <span class="float-right"><%= link_to 'Edit Player', edit_player_path(player) %></span>
            <% else %>
              <%= link_to 'Player Card', player_path(player) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
