<ul class="nav nav-pills nav-justified">
  <li class="nav-item"><%= link_to 'All Players', all_players_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Swarm', team_players_path(@teams[0]), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Red Devils', team_players_path(@teams[1]), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Thunder', team_players_path(@teams[2]), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Stampede', team_players_path(@teams[3]), class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Admirals', team_players_path(@teams[4]), class: 'nav-link' %></li>
</ul>
