<div class="container-fluid">
  <div class="row">
    <div class="col text-center">Stats by Position, Team, Catergory</div>
  </div>
  <div class="row">
    <div class="col-8"><strong>Skater Stats</strong></div>
    <div class="col-4"><strong>Goal Tending Stats</strong></div>
  </div>
  <div class="row">
    <div class="col-4">
      <%= render 'stats/partials/points' %>
    </div>
    <div class="col-4">
      <%= render 'stats/partials/goals' %>
    </div>
    <div class="col-4">
      <%= render 'stats/partials/gaa' %>
    </div>
    <div class="col-4">
      <%= render 'stats/partials/assists' %>
    </div>
    <div class="col-4">
      <%= render 'stats/partials/plus_minus' %>
    </div>
    <div class="col-4">
      <%= render 'stats/partials/svs' %>
    </div>
  </div>
</div>
