<div class="container-fluid">
  <%= render 'stats/partials/teams' %>
  <%= render 'stats/partials/position' %>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= render 'stats/partials/points' %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= render 'stats/partials/goals' %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= render 'stats/partials/gaa' %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= render 'stats/partials/assists' %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= render 'stats/partials/plus_minus' %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= render 'stats/partials/svs' %>
    </div>
  </div>
</div>
