<ul class="nav nav-pills nav-justified position">
  <li class="nav-item"><%= link_to 'All Positions', stats_path, class: 'nav-link active' %></li>
  <li class="nav-item"><%= link_to 'Points', points_stats_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Goals', goals_stats_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Assists', assists_stats_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Plus Minus', plus_minus_stats_path, class: 'nav-link' %></li>
  <li class="nav-item"><%= link_to 'Goal Tenders', gk_stats_path, class: 'nav-link' %></li>
</ul>
