<!DOCTYPE html>
<html>
  <head>
    <title>NZIHL Game Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/partials/navbar' %>
    <%= yield %>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
